              <p>Secured this now! See my <a href="https://github.com/pauly/lightwaverf">lightwaverf gem</a> (just <a href="https://rubygems.org/gems/lightwaverf">gem install lightwaverf</a>), get a <a href="http://amzn.to/V7yPPK">wifi link</a> and <a href="http://amzn.to/RkukDo">remote socket</a> and you're good to go...</p>
