<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/stylesheets/grid.css">
<link rel="stylesheet" href="/stylesheets/layout.css">
<link rel="stylesheet" href="/stylesheets/screen.css">
<link rel="stylesheet" href="/stylesheets/home_automation_stats.css">
<link rel="stylesheet" href="/stylesheets/motorhead.css">

