<div class="row col">
  <h1 class="motorhead"><%= title %></h1>
  <p>
    <a href="/">Home</a> |
    <a href="/automation">Automation</a> |
    <% if (!user) { %>
      <a href="/login">Log In</a>
    <% } else { %>
      <a href="/logout">Log Out</a>
    <% } %>
  </p>
</div>
