<!DOCTYPE html>
<html>
  <% include _head %>
  <body>
    <div class="container">
      <% include _header %>
      <div class="row">
        <div class="col content gbbs">
          <dl>
            <dt>This is my <a href="http://amzn.to/Xm9XJ7">raspberry pi</a> homepage.</dt>
            <dd><% include _disclaimer %></dd>
            <dt><a>Home Automation</a></dt>
            <dd>
              <% include _automation-intro %>
            </dd>
            <dt><a>Paul TV (<%= ustream %>)</a></dt>
            <dd style="display: none"><iframe width="720" height="437" src="http://www.ustream.tv/embed/12921939?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
            <br /><a href="http://www.ustream.tv/">Live broadcast by Ustream</a>, enabled occasionally so I can demo my <a href="http://www.clarkeology.com/wiki/home+automation">home automation</a> things.</dd>
            <dt><a>Disk space</a></dt>
            <dd style="display: none"><pre></pre></dd>
            <dt>Uptime</dt>
            <dd><%= uptime %></dd>
          </dl>
        </div>
        <% include _sidebar %>
      </div>
    </div>
  </body>
</html>
