<!DOCTYPE html>
<html>
  <head>
    <!-- 
      $output = array( );
      $match = array( );
      $ustream = json_decode( file_get_contents( 'http://api.ustream.tv/json/channel/paulypopex/getValueOf/status?key=4C8C8AA9814C796A8C908D1E6315FAE7' ));
    -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/grid.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <link rel="stylesheet" href="/stylesheets/home_automation_stats.css">
    <link rel="stylesheet" href="/stylesheets/motorhead.css">
  </head>
  <body>
    <div class="container">
      <div class="row col">
        <h1 class="motorhead"><%= title %></h1>
      </div>
      <div class="row">
        <div class="col content gbbs">
          <dl>
            <dt>This is my <a href="http://amzn.to/Xm9XJ7">raspberry pi</a> homepage.</dt>
            <dd>This site is hosted on my <a href="http://amzn.to/Xm9XJ7">raspberry pi</a>, from my house. So it may be slow, or unavailable at any time.</dd>
            <dt><a>Home Automation</a></dt>
            <dd>
              <% include automation-intro %>
            </dd>
            <dt><a>Paul TV (<%= ustream %>)</a></dt>
            <dd style="display: none"><iframe width="720" height="437" src="http://www.ustream.tv/embed/12921939?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
            <br /><a href="http://www.ustream.tv/">Live broadcast by Ustream</a>, enabled occasionally so I can demo my <a href="http://www.clarkeology.com/wiki/home+automation">home automation</a> things.</dd>
            <dt><a>Disk space</a></dt>
            <dd style="display: none"><pre></pre></dd>
            <dt>Uptime</dt>
            <dd><%= uptime %></dd>
          </dl>
        </div>
        <% include sidebar %>
      </div>
    </div>
    <script>
      $( function ( ) {
        $('dt a').click( function ( ) {
          $(this).parent( ).next('dd').slideDown( );
        } );
        $('a.ajax').click( function ( ) {
          $a = $(this);
          $.get( $a.attr('href'), function ( js ) {
            alert( $a.text( ));
          } );
          return false;
        } );
      } );
    </script>
  </body>
</html>
