<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <div class="row">
        <div class="col content gbbs">
          <a href="/auth/twitter">please sign in with the twitter</a>
        </div>
        <% include sidebar %>
      </div>
    </div>
  </body>
</html>
