<!DOCTYPE html>
<html>
  <% include _head %>
  <body>
    <div class="container">
      <% include _header %>
      <div class="row">
        <div class="col content gbbs">
          <a href="/auth/twitter">please sign in with the twitter</a>
        </div>
        <% include _sidebar %>
      </div>
    </div>
  </body>
</html>
