<!DOCTYPE html>
<html>
  <% include _head %>
  <body>
    <div class="container">
      <% include _header %>
      <div class="row">
        <div class="col content gbbs">
          <p><a href="/auth/twitter">Click here to sign in with the twitter</a>.</p>
          <p>You probably can't do anything here even if you do login.</p>
        </div>
        <% include _sidebar %>
      </div>
    </div>
  </body>
</html>
