        <div class="col sidebar">
          <div class="row">
            <div class="col photo">
              <p><a href="https://picasaweb.google.com/lh/photo/LXFN5QD1l4oklJvujfjbldMTjNZETYmyPJy0liipFm0?feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-neuAWRhQvRc/UKIjlLSmf_I/AAAAAAABV34/bSvwtEsDwZo/s288/IMG_0661.JPG" height="216" width="288" /></a></p>
              <p>From <a href="https://picasaweb.google.com/112554041628292689150/November2012?authuser=0&feat=embedwebsite">November 2012</a></p>
            </div>
            <div class="col">
              <iframe src="http://rcm-uk.amazon.co.uk/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=clarkeology-21&o=2&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B009SMWSQA" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
              <h4>Links</h4>
              <ul class="vcard">
                <li><a rel="me" class="url fn n uid" href="http://www.clarkeology.com/blog/" title="All about Pauly">Paul Clarke</a><img class="photo" src="https://lh6.googleusercontent.com/-9R7Y6Un9q4M/ULyp458SI_I/AAAAAAABWcg/Uxou54FYA4c/s288/Screen%2520shot%25202012-12-03%2520at%252013.30.38.png" style="display: none" width="218" height="291" /></li>
                <li><a rel="me" href="http://picasaweb.google.com/paulypopex">Pictures</a></li>
                <li><a rel="me" href="http://www.youtube.com/user/folkestonegerald">Videos</a></li>
                <li><a rel="me" href="https://www.github.com/pauly">Github</a></li>
                <li><a href="http://www.clarkeology.com/misc/gigography/" title="List of old gigs">Gigography</a></li>
                <li><a class="google plus" rel="author" href="https://plus.google.com/112554041628292689150/about" title="Me on the google plus">Paul+</a></li>
                <li><a class="google plus" rel="author" href="https://twitter.com/pauly" title="Me on the Twitter">@Pauly</a></li>
              </ul>
            </div>
          </div>
          <div div class="col" id="gauge_div"></div>
        </div>
